html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  inset: 0;
}
.inner {
  margin: 40px;
  margin-left: 15px;
}
.codejar {
  font-family: monospace;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
summary {
  cursor: pointer;
  width: 100%;
}
details[open] summary {
  font-size: 1.1em;
  font-weight: 100;
}
.variable_list li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px dashed #0001;
  margin-bottom: 6px;
  cursor: pointer;
}
.varname {
  font-weight: 700;
}
.value {
  opacity: 0.6;
  font-style: italic;
  font-family: monospace;
}
.btn-style {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.btn-style:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.btn-style:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}
.btn-style:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none;
}
.btn-style:focus {
  outline: transparent 1px;
}
.btn-style:before {
  display: none;
}
.btn-style:-webkit-details-marker {
  display: none;
}

* {
  box-sizing: border-box;
}
.operator {
  color: blue;
}
.comment {
  opacity: 0.3;
  color: black;
}
.comment * {
  color: black !important;
}
.header {
  font-size: 1.1em;
  color: #3283a1;
  font-weight: 600;
}
.header .unit,
.header .operator {
  color: #3283a1;
}
.number {
  color: #bd9424;
}
.unit {
  color: lightblue;
}
.results li span {
  color: #4e9c65;
  padding: 1px 3px;
  border-radius: 4px;
}
.results li:hover span {
  color: white;
  background: #4e9c65;
}
.inner {
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.codejar {
  padding: 20px;
  overflow: scroll;
  height: 100%;
  flex: var(--codejar-flex);
}
.variables {
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.variables[open] {
  background: #fafafa;
}
.variables[open] summary {
  border: none !important;
  box-shadow: none !important;
}
.inline-variable {
  color: #1c9e97;
}
.inline-variable::after {
  content: ": " attr(data-value);
  color: #1c9e97;
  font-weight: 900;
  padding: 1px 3px;
  border-radius: 4px;
}
.inline-variable.undefined {
  opacity: 0.5;
}
.inline-variable.undefined::after {
  display: none;
}
* {
  caret-color: black;
}
.inner {
  display: flex;
  position: relative;
  flex: var(--inner-flex);
}
:root {
  --result-width: 300px;
  --codejar-flex: 4;
  --results-flex: 1;
  --sidebar-flex: 2;
  --inner-flex: 5;
}
.sidebar {
  flex: var(--sidebar-flex);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.sidebar h3 {
  font-weight: 200;
  opacity: 0.7;
  font-size: 1.4em;
  text-align: center;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  width: 100%;
  margin: 2px 0;
  padding: 8px 20px;
  border-radius: 3px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.sidebar ul li:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.results {
  border: none;
  font-family: monospace;
  border-left: 1px dashed #999;
  transform: translate3d(0, 0, 0);
  flex: var(--results-flex);
  overflow: hidden;
}
.results li {
  cursor: pointer;
  position: absolute;
  text-align: left;
  width: 100%;
  font-style: italic;
  display: block;
  padding-left: 10px;
}

.sidebar ul li.selected {
  background: #333;
  color: #eee;
}
